.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
  
.theme-toggle-button {
    color: var(--color-font);
    margin-left: auto;
    cursor: pointer;
    background: none;
    border: 2px solid var(--color-font);
    padding: 0.5rem 1rem;
    border-radius: 4px;
}
