#root {
  min-width: 100vw;
}

.light-mode {
  background: #f0f0f0 url('/bg-light.png') no-repeat center/cover;
  background-attachment: fixed;
  color: #333;
  min-height: 100vh;
}

.dark-mode {
  background: #1b1b1b url('/bg-dark.png') no-repeat center/cover;
  background-attachment: fixed;
  color: #eee;
  min-height: 100vh;
}

.app-title {
  margin: 0;
}

.main-content {
  max-width: 600px;
  margin: 0rem auto;
  padding-bottom: 1rem;
}

@media (max-width: 600px) {
  .main-content {
    margin: 1rem;
    padding: 0;
  }
}
